/* APP */

body {
  display: flex;
  justify-content: center;
}

.app {
  width: 75%;
}

/* FORM SUBMIT */

.submit-section {
  margin-bottom: 2rem;
}

form {
  display: flex;
  gap: 2rem;
  padding: 1rem 0;
}

.form-book,
.form-author,
.form-status {
  display: flex;
  flex-direction: column;
}

/* TABLE */

table {
  width: 100%;
}

th {
  text-align: left;
}
